
<div class="admin">
  <p id="notice"><%= notice %></p>

  <h1>Listing Trophies</h1>

  <table>
    <thead>
      <tr>
        <th>Src</th>
        <th>Alt</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @trophies.each do |trophy| %>
      <tr>
        <td><%= trophy.src %></td>
        <td><%= trophy.alt %></td>
        <td><%= trophy.description %></td>
        <td><%= link_to 'Show', trophy %></td>
        <td><%= link_to 'Edit', edit_trophy_path(trophy) %></td>
        <td><%= link_to 'Destroy', trophy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Post', new_trophy_path %>
</div>
